<h1>poll-list</h1>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="polls.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let poll of polls">
    <mat-expansion-panel-header>
      {{ poll.title }}
    </mat-expansion-panel-header>

    <div>
    <table>
      <tr>
        <td>{{ poll.option1 }}</td>
        <td>{{ poll.value1 }}</td>
      </tr>
      <br>
      <tr>
        <td>{{ poll.option2 }}</td>
        <td>{{ poll.value2 }}</td>
      </tr>
    </table>
    </div>
    <br>
    <mat-radio-group [(ngModel)]="optionPick">
      <mat-radio-button value="1">{{ poll.option1 }}</mat-radio-button>
      <br><br>
      <mat-radio-button value="2">{{ poll.option2 }}</mat-radio-button>
    </mat-radio-group>

    <mat-action-row>
      <!-- <a mat-button color="primary" [routerLink]="['/vote', poll._id, optionPick]">VOTE</a>
      <a mat-button color="primary" [routerLink]="['/edit', poll._id]">EDIT</a> -->
      <button mat-button color="primary" (click)="onVote(poll, optionPick)">VOTE</button>
      <button mat-button color="warn" (click)="onDelete(poll._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="polls.length <= 0 && !isLoading">No polls added yet!</p>
