<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="polls.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let poll of polls">
    <mat-expansion-panel-header>
      {{ poll.title }}
    </mat-expansion-panel-header>
    <p><mat-radio-button>{{ poll.option1 }}</mat-radio-button></p>
    <p><mat-radio-button>{{ poll.option2 }}</mat-radio-button></p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/vote', poll.id]">VOTE</a>
      <a mat-button color="primary" [routerLink]="['/edit', poll.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(poll.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="polls.length <= 0 && !isLoading">No polls added yet!</p>
